@charset "utf-8";

html {
    background-color: #FFF;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    margin-bottom: -100px;
}

#content {
    padding-top: 10px;
    padding-bottom: 100px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 80px;
    padding-top: 20px;
    text-align: center;
    background-color: #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#CCC));
    background-image: -webkit-linear-gradient(top, #fff, #CCC);
    background-image: -moz-linear-gradient(top, #fff, #CCC);
    background-image: -ms-linear-gradient(top, #fff, #CCC);
    background-image: -o-linear-gradient(top, #fff, #CCC);
    background-image: linear-gradient(top, #fff, #CCC);
}

header {
    background-color: #CCC;
    height: 98px;
    vertical-align: bottom;
    position: relative;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#fff));
    background-image: -webkit-linear-gradient(top, #CCC, #fff);
    background-image: -moz-linear-gradient(top, #CCC, #fff);
    background-image: -ms-linear-gradient(top, #CCC, #fff);
    background-image: -o-linear-gradient(top, #CCC, #fff);
    background-image: linear-gradient(top, #CCC, #fff);
}

#header-left {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-right: -350px;
}

#header-right {
    position: absolute;
    right: 15px;
}

#header-right a {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid gray;
    display: inline-block;
    color: #ffffff;
    font-family: Comic Sans MS;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #fff;
    margin: 5px;
}

#header-right a:hover {
    background-color: #4A4A4A;
}

#header-right a:active {
    position: relative;
    top: 1px;
}

.darkgray {
    background-color: #6C6D70;
}

.gray {
    background-color: gray;
}

#logo-icon {
    width: 224px;
    margin-bottom: -20px;
}

#logo-desc {
    font-size: 14px;
    padding-left: 15px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: italic;
    color: #eee;
}

nav {
    border-radius: 1px; /*some css3*/
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    background: #111;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
}

#menu {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

#menu li {
    margin: 5px 10px 5px 5px;
    float: left;
    position: relative;
    list-style: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .7); /*some css3*/
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .7);
}

#menu a {
    font-weight: bold;
    display: block;
    padding: 8px 20px;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .1);
    color: #fff;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
}

#menu li:hover>a {
    color: #000;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .7); /*some css3*/
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

#menu li:hover>ul {
    display: block;
}

/* Sub-menu */
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 99999;
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    -moz-border-radius: 1px;
    border-radius: 1px;
}

#menu ul ul {
    top: 0;
    left: 150px;
}

#menu ul li {
    float: none;
    margin: 0;
    padding: 3px;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 1px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 1px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 1px 0 #777777;
}

#menu ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a {
    padding: 10px;
    height: 10px;
    width: 130px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menu ul a:hover {
    background: #fff;
    background: -moz-linear-gradient(#eee, #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -webkit-linear-gradient(#eee, #fff);
    background: -o-linear-gradient(#eee, #fff);
    background: -ms-linear-gradient(#eee, #fff);
    background: linear-gradient(#eee, #fff);
}

#menu ul li:first-child>a {
    -moz-border-radius: 1px 1px 0 0;
    border-radius: 1px 1px 0 0;
}

#menu ul li:first-child>a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #444;
}

#menu ul ul li:first-child a:after {
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid #444;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #eee;
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #eee;
    border-bottom-color: transparent;
}

#menu ul li:last-child>a {
    -moz-border-radius: 0 0 1px 1px;
    border-radius: 0 0 1px 1px;
}

/* Clear floated elements */
#menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu {
    zoom: 1;
}

/* IE6 */
*:first-child+html #menu {
    zoom: 1;
}

/* IE7 */
#menu .bubble {
    background: #e02424;
    position: absolute;
    right: 3px;
    padding: 2px 5px;
    color: #fff;
    font: bold .9em Tahoma, Arial, Helvetica;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

#search-bar {
    float: right;
    padding: 10px;
}

#search-bar .search-form {
    padding: 2px;
    overflow: hidden;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

#search-bar .search-form .content {
    display: block;
    background-color: gray;
    border: none;
    width: 180px;
    height: 20px;
    padding: 3px;
    float: right;
    transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -webkit-transition: width 0.2s ease-in;
}

#search-bar .search-form .content:focus {
    border-color: #FF8000;
    background-color: #ddd;
    border: thin;
    width: 280px;
}

#search-bar .search-form .submit {
    float: right;
    height: 25px;
    padding: 3px;
    border: 1px solid #111;
    cursor: pointer;
    font: bold normal Arial, Helvetica;
    color: #fafafa;
    text-transform: uppercase;
    background-color: #0483a0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
    background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
    background-image: linear-gradient(top, #31b2c3, #0483a0);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

#search-bar .search-form .submit:hover, #search-bar .search-form .submit:focus {
    background-color: #31b2c3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
    background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
    background-image: linear-gradient(top, #0483a0, #31b2c3);
}

#search-bar .search-form .submit:active {
    outline: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#search-bar .search-form .submit::-moz-focus-inner {
    border: 0;
}

/* breadcrumb */
.breadcrumb-parent {
    margin: 5px 0;
    padding: 0;
    list-style: none;
    font-size: small;
}

#breadcrumbs-one {
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    /* Clear floats */
    overflow: hidden;
    width: 100%;
}

#breadcrumbs-one li {
    float: left;
}

#breadcrumbs-one a {
    padding: 0 1em 0 2em;
    float: left;
    text-decoration: none;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #bbb;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#eee), to(#bbb));
    background-image: -webkit-linear-gradient(left, #eee, #bbb);
    background-image: -moz-linear-gradient(left, #eee, #bbb);
    background-image: -ms-linear-gradient(left, #eee, #bbb);
    background-image: -o-linear-gradient(left, #eee, #bbb);
    background-image: linear-gradient(to right, #eee, #bbb);
}

#breadcrumbs-one li:first-child a {
    padding-left: 1em;
    -moz-border-radius: 1px 0 0 1px;
    -webkit-border-radius: 1px 0 0 1px;
    border-radius: 1px 0 0 1px;
}

#breadcrumbs-one a:hover {
    background: #fff;
}

#breadcrumbs-one a::after, #breadcrumbs-one a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
}

#breadcrumbs-one a::after {
    z-index: 2;
    border-left-color: #bbb;
}

#breadcrumbs-one a::before {
    border-left-color: #eee;
    right: -1.1em;
    z-index: 1;
}

#breadcrumbs-one a:hover::after {
    border-left-color: #fff;
}

#breadcrumbs-one .current, #breadcrumbs-one .current:hover {
    font-weight: bold;
    background: none;
}

#breadcrumbs-one .current::after, #breadcrumbs-one .current::before {
    content: normal;
}

#content {
    width: 100%;
    height: auto;
}

#content:after {
    height: 100px;
}

#content-left {
    width: 80%;
    float: left;
    margin-right: 1%;
    margin-top: 5px;
}

#content-right {
    margin-top: 5px;
    width: 19%;
    float: left;
}

/* Tooltip */
.tooltip {
    position: relative;
    background: #eaeaea;
    cursor: help;
    display: inline-block;
    text-decoration: none;
    color: #222;
    outline: none;
}

.tooltip span {
    visibility: hidden;
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 999;
    width: 230px;
    margin-left: -127px;
    padding: 10px;
    border: 2px solid #ccc;
    opacity: .9;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    -moz-border-radius: 1px;
    border-radius: 1px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .5) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}

.tooltip:hover {
    border: 0; /* IE6 fix */
}

.tooltip:hover span {
    visibility: visible;
}

.tooltip span:before, .tooltip span:after {
    content: "";
    position: absolute;
    z-index: 1000;
    bottom: -7px;
    left: 50%;
    margin-left: -8px;
    border-top: 8px solid #ddd;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0;
}

.tooltip span:before {
    border-top-color: #ccc;
    bottom: -8px;
}

/* Yellow */
.yellow-tooltip span {
    border-color: #e1ca82;
    background-color: #ffeaa6;
}

.yellow-tooltip span:after {
    border-top-color: #ffeaa6;
}

.yellow-tooltip span:before {
    border-top-color: #e1ca82;
}

/* Navy */
.navy-tooltip span {
    color: #fff;
    text-shadow: 0 1px 0 #000;
    border-color: #161a1f;
    background-color: #1e2227;
}

.navy-tooltip span:after {
    border-top-color: #1e2227;
}

.navy-tooltip span:before {
    border-top-color: #161a1f;
}

/* Blue */
.blue-tooltip span {
    border-color: #59add4;
    background-color: #61bde7;
}

.blue-tooltip span:after {
    border-top-color: #61bde7;
}

.blue-tooltip span:before {
    border-top-color: #59add4;
}

/* Pink */
.pink-tooltip span {
    border-color: #ce4378;
    background-color: #ea4c88;
}

.pink-tooltip span:after {
    border-top-color: #ea4c88;
}

.pink-tooltip span:before {
    border-top-color: #ce4378;
}

/* Aside */
.widget {
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#bbb));
    background-image: -webkit-linear-gradient(top, #ddd, #bbb);
    background-image: -moz-linear-gradient(top, #ddd, #bbb);
    background-image: -ms-linear-gradient(top, #ddd, #bbb);
    background-image: -o-linear-gradient(top, #ddd, #bbb);
    background-image: linear-gradient(top, #ddd, #bbb);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    padding: 3px;
    margin-bottom: 10px;
}

.widget:before {
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/
.widget h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 1px 0px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 0 0;
    letter-spacing: 1px;
    font: normal;
    font-size: 16px;
}

.widget .widget-content {
    margin: 3px;
    padding: 3px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background-image: -webkit-linear-gradient(top, #eee, #fff);
    background-image: -moz-linear-gradient(top, #eee, #fff);
    background-image: -ms-linear-gradient(top, #eee, #fff);
    background-image: -o-linear-gradient(top, #eee, #fff);
    background-image: linear-gradient(top, #eee, #fff);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

/* Editable */
.editable {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background-image: -webkit-linear-gradient(top, #eee, #fff);
    background-image: -moz-linear-gradient(top, #eee, #fff);
    background-image: -ms-linear-gradient(top, #eee, #fff);
    background-image: -o-linear-gradient(top, #eee, #fff);
    background-image: linear-gradient(top, #eee, #fff);
    padding: 30px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    margin-bottom: 10px;
}

.editable:before {
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/
.editable h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

.editable h1:after, .editable h1:before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 150px;
}

.editable h1:after {
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);
    right: 0;
}

.editable h1:before {
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}

/*--------------------*/
.editable fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/
.editable .inputs input, .editable .inputs textarea {
    padding: 10px 15px 10px 15px;
    margin: 0 0 10px 0;
    width: 95%;
    border: 1px solid #ccc;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    line-height: 1.5;
}

.editable .inputs label {
    display: block;
    width: 100%;
    color: gray;
    font-size: small;
}

.editable .inputs select {
    width: 200px;
    padding: 10px 15px 10px 15px;
    margin: 0 0 10px 0;
    border: 1px solid #ccc;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.editable .inputs input:focus, .editable .inputs textarea:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
.editable .actions {
    margin: 10px 0 0 0;
}

.editable #submit {
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

.editable #submit:hover, #submit:focus {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}

.editable #submit:active {
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.editable #submit::-moz-focus-inner {
    border: none;
}

/* new blog*/

/* new section */
#update-section .inputs #section-content {
    height: 500px;
}

/* comment */
#comment .inputs input {
    width: 80%;
    padding-left: 40px;
}

#comment #author {
    background: url(../images/sprites.png) no-repeat;
    background-position: 5px -450px !important;
}

#comment #email {
    background: url(../images/sprites.png) no-repeat;
    background-position: 5px -205px !important;
}

#comment #site {
    background: url(../images/sprites.png) no-repeat;
    background-position: 5px -65px !important;
}

#login {
    font-size: medium;
    width: 360px;
    margin: auto;
    padding-top: 30px;
}

#login h1:after, #login h1:before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 50px;
}

#login .inputs input {
    width: 85%;
    padding-left: 40px;
}

#login #username {
    background: url(../images/sprites.png) no-repeat;
    background-position: 5px -450px !important;
}

#login #password {
    background: url(../images/sprites.png) no-repeat;
    background-position: 0px -170px !important;
}

#login .actions a {
    font-size: 12px;
    color: #3151A2;
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

#registration {
    font-size: medium;
    width: 500px;
    margin: auto;
    margin-top: 30px;
}

#registration h1:after, #registration h1:before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 50px;
}

#registration .inputs input {
    width: 90%;
    padding-left: 40px;
}

#registration .inputs select {
    padding-left: 40px;
}

#registration #acceptTerms {
    width: auto;
    border: none;
    float: left;
}

#registration label {
    font-size: 12px;
    margin-left: 25px;
}

#registration #name {
    background: url(../images/sprites.png) no-repeat;
    background-position: 5px -450px !important;
}

#registration #fname {
    background: url(../images/sprites.png) no-repeat;
    background-position: 5px -100px !important;
}

#registration #inviteCode {
    background: url(../images/sprites.png) no-repeat;
    background-position: 5px -30px !important;
}

#registration #tel {
    background: url(../images/sprites.png) no-repeat;
    background-position: 5px -240px !important;
}

#registration #location {
    background: url(../images/sprites2.png) no-repeat;
    background-position: 5px -135px !important;
}

#registration #gender {
    background: url(../images/sprites2.png) no-repeat;
    background-position: 5px -100px !important;
}

#registration #birth {
    background: url(../images/sprites2.png) no-repeat;
    background-position: 5px -168px !important;
}

#registration #email {
    background: url(../images/sprites.png) no-repeat;
    background-position: 5px -205px !important;
}

#registration .password {
    background: url(../images/sprites.png) no-repeat;
    background-position: 0px -170px !important;
}

#registration #name {
    background: url(../images/sprites.png) no-repeat;
    background-position: 5px -450px !important;
}

#reset {
    margin: auto;
    width: 420px;
}

#reset .actions #submit {
    margin: 0;
    float: right;
}

#change-password {
    margin: auto;
    width: 480px;
}

#change-password h1:after, #change-password h1:before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 50px;
}

#change-password .inputs input {
    width: 90%;
    padding-left: 40px;
}

#change-password .password {
    background: url(../images/sprites.png) no-repeat;
    background-position: 0px -170px !important;
}

.setting {
    width: 50%;
    margin: auto;
}

.setting #checkbox {
    width: auto;
    border: none;
    float: left;
}

.setting .checkbox-label {
    margin-left: 25px;
}

.alert {
    padding: 19px 15px;
    color: #fefefe;
    position: relative;
    font: 14px/20px Museo300Regular, Helvetica, Arial, sans-serif;
}

.alert .msg {
    padding: 0 20px 0 40px;
}

.alert p {
    margin: 0;
}

.alert .toggle-alert {
    position: absolute;
    top: 7px;
    right: 10px;
    display: block;
    text-indent: -10000px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.08) url(../images/alert.png) no-repeat 6px 6px;
}

.info-box {
    background: #2fa9f6 url(../images/info.png) no-repeat 14px 14px;
}

.success-box {
    background: #7EB62E url(../images/success.png) no-repeat 14px 14px;
}

.error-box {
    background: #f64b2f url(../images/error.png) no-repeat 14px 14px;
}

.notice-box {
    background: #f6ca2f url(../images/notice.png) no-repeat 14px 14px;
}

.download-box {
    background: #a555ca url(../images/download.png) no-repeat 14px 14px;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url(../images/info.png);
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url(../images/success.png);
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url(../images/notice.png);
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(../images/error.png);
}

.center-block {
    margin: auto;
    width: 50%;
}

/* Viewable */
.viewable {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background-image: -webkit-linear-gradient(top, #eee, #fff);
    background-image: -moz-linear-gradient(top, #eee, #fff);
    background-image: -ms-linear-gradient(top, #eee, #fff);
    background-image: -o-linear-gradient(top, #eee, #fff);
    background-image: linear-gradient(top, #eee, #fff);
    padding: 10px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    margin-bottom: 10px;
    border-bottom: 1px groove #eee;
    color: #555;
}

.viewable h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

.viewable h1:after, .viewable h1:before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 150px;
}

.viewable h1:after {
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);
    right: 0;
}

.viewable h1:before {
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}

.viewable h1 a {
    color: #3151A2;
    text-decoration: none;
}

.viewable .line {
    height: 50px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background-image: -webkit-linear-gradient(top, #eee, #fff);
    background-image: -moz-linear-gradient(top, #eee, #fff);
    background-image: -ms-linear-gradient(top, #eee, #fff);
    background-image: -o-linear-gradient(top, #eee, #fff);
    background-image: linear-gradient(top, #eee, #fff);
    padding: 15px 0;
}

.viewable .line .left {
    width: 30%;
    text-align: right;
    float: left;
    display: block;
}

.viewable .line .right {
    margin-left: 5%;
    width: 65%;
    text-align: left;
    float: left;
}

.viewable .line .left a {
    font-size: 12px;
    color: #3151A2;
    float: right;
    margin-left: 10px;
}

.viewable textarea {
    margin-left: 35%;
    margin-top: -20px;
    width: 60%;
}

#profile {
    width: 600px;
    margin: auto;
}

#profile .line {
    height: 30px;
    padding: 15px 0;
}

.client {
    width: 70%;
    margin: auto;
}

.client2 {
    width: 50%;
    margin: auto;
}

.client h1 {
    margin: 5px auto;
}

.client .line {
    height: 20px;
    padding: 5px 0;
}

.template {
    width: 70%;
    margin: auto;
}

.template h1 {
    margin: 5px auto;
}

.template .line {
    height: auto;
    min-height: 20px;
    padding: 5px 0;
}

.setting {
    width: 50%;
    margin: auto;
}

.setting h1 {
    margin: 5px auto;
}

.setting .line {
    height: auto;
    min-height: 20px;
    padding: 5px 0;
}

.invite {
    width: 50%;
    margin: auto;
}

.invite h1 {
    margin: 5px auto;
    font-size: medium;
}

.invite .line {
    height: auto;
    min-height: 20px;
    padding: 5px 0;
}

.invite #generate {
    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    color: #fff;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 7px 0 8px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
}

.small-box {
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
    background-color: silver;
}

.editable .inputs .radio {
    width: auto;
    border: none;
    float: left;
    margin-left: 80px;
    margin-right: 10px;
}

.confirm {
    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    color: #fff;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 7px 0 8px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    width: 150px;
}

.confirm:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer;
}

.confirm:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}

.unconfirm {
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-radius: 3px;
    color: #333;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    width: 150px;
}

.unconfirm:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

.unconfirm:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}