/* CSS Document */

#new-blog {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);

    margin: 10px;
    padding: 30px;

    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, .1), 3px 3px 0 rgba(255, 255, 255, 1), 4px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2);
}

#new-blog:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/

#new-blog h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

#new-blog h1:after, #new-blog h1:before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 250px;
}

#new-blog h1:after {
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);
    right: 0;
}

#new-blog h1:before {
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}

/*--------------------*/

#new-blog fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/

#new-blog #inputs input, #new-blog #inputs #description {
    padding: 10px 15px 10px 15px;
    margin: 0 0 10px 0;
    width: 95%;
    border: 1px solid #ccc;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    line-height: 1.5;
}

#new-blog #inputs .input-title {
    display: block;
    width: 100%;
    color: gray;
    font-size: small;
}

#new-blog #inputs #description {
    color: gray;
}

#new-blog #inputs #category {
    width: 200px;

    padding: 10px 15px 10px 15px;
    margin: 0 0 10px 0;
    border: 1px solid #ccc;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#new-blog #inputs #category > option {
    width: 200px;

    padding: 10px 15px 10px 15px;
    border: 1px solid #ccc;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#new-blog #inputs input:focus, #new-blog #inputs #description:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
#new-blog #actions {
    margin: 25px 0 0 0;
}

#new-blog #submit {
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);

    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;

    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#new-blog #submit:hover, #submit:focus {
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}

#new-blog #submit:active {
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#new-blog #submit::-moz-focus-inner {
    border: none;
}

.blog {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background-image: -webkit-linear-gradient(top, #eee, #fff);
    background-image: -moz-linear-gradient(top, #eee, #fff);
    background-image: -ms-linear-gradient(top, #eee, #fff);
    background-image: -o-linear-gradient(top, #eee, #fff);
    background-image: linear-gradient(top, #eee, #fff);

    margin: 10px;
    padding: 10px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    margin-bottom: 20px;

    border-bottom: 1px groove #eee;
    color: #555;
}

.blog a {
    text-decoration: none;
    color: #666;
}

.blog .blog-title {
    border-radius: 1px; /*some css3*/
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, .5);
}

.blog .blog-title h1 {
    margin: 5px 5px 0 5px;
    padding: 3px 3px 0 3px;
    border-bottom: 1px solid #eee;
    font-size: large;
}

.blog .blog-title h2 {
    margin: 0px 5px 5px 5px;
    padding: 0 3px 3px 3px;
    font-size: small;
    font-style: italic;
    font-weight: normal;
}

.blog .blog-details {
}

.blog .blog-details ul {
    display: inline-block;
    width: 100%;
    margin: 0px auto;
    padding: 0;
    list-style: none;

    border-radius: 1px; /*some css3*/
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);

    font-size: smaller;
}

.blog .blog-details ul li {
    margin: 0px 5px 0px 5px;
    padding: 0px 5px;
    float: left;
    position: relative;
    list-style: none;
}

.blog .blog-details ul li a {
    margin: 3px 3px 0px 3px;
    color: orange;
    text-decoration: none;
}

.blog .blog-details ul li a:hover {
    margin: 3px 3px 0px 3px;
    color: orange;
    text-decoration: none;
    background: #ddd;
    border-radius: 2px; /*some css3*/
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.blog .blog-details ul li span {
    font-weight: bold;
}

.blog .blog-label {
    padding: 0 3px;
    border-radius: 2px; /*some css3*/
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

}

.blog .blog-label:hover {
    background: #ddd;
    padding: 0 3px;
    border-radius: 2px; /*some css3*/
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.blog .blog-tags {
    margin: 3px 3px 0px 3px;
    padding: 0px 5px;
    font-size: small;
}

.blog .blog-tags ul li {
    padding: 0;
}

.blog .blog-tags ul li a {
    padding: 0;
}

.blog .blog-more {
    font-size: medium;
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
    color: orange;
}

.blog .blog-more:hover {
    background: #eee;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.blog .blog-content {
    border: 1px #eee solid;
    padding: 0 3px;
    line-height: 1.5;
}

.blog .blog-content {
    border: 1px #eee solid;
    padding: 0 3px;
}

#update-section {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);

    margin: 10px;
    padding: 30px;

    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, .1), 3px 3px 0 rgba(255, 255, 255, 1), 4px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2);
}

#update-section:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/

#update-section h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    color: #666;
    text-align: center;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

#update-section h1:after, #update-section h1:before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 250px;
}

#update-section h1:after {
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);
    right: 0;
}

#update-section h1:before {
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}

/*--------------------*/

#update-section fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

#update-section #inputs input, #update-section #inputs .description {
    padding: 10px 15px 10px 15px;
    margin: 0 0 10px 0;
    width: 95%;
    border: 1px solid #ccc;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#update-section #inputs .input-title {
    display: block;
    width: 100%;
    color: gray;
    font-size: small;
}

#update-section #inputs .description {
    height: 100px;
    line-height: 1.5;
}

#update-section #inputs #section-content {
    height: 500px;
}