@charset "UTF-8";
/* CSS Document */

.lblog-header {
    border-bottom-style: outset;
    min-height: 50px;
    background-color: #232323;
    color: #FFF;
    margin: 5px 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.lblog-title {

    font-size: larger;

}

.lblog-subtitle {
    background-color: #424242;
    font-size: large;
}

.lblog-author {
    background-color: #818181;
    font-size: medium;
}

.lblog-content {
    margin: 5px 0;
}

.lblog-common {
    margin: 5px 0;
}
