/* demo page styles */

#menu {
    display: inline-block;
    width: 100%;
    margin: 0px auto;
    padding: 0;

    border-radius: 1px; /*some css3*/
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);

    background: #111;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 1px;
    border-radius: 1px;
}

#menu li {
    margin: 10px;
    float: left;
    position: relative;
    list-style: none;
}

#menu a {
    font-weight: bold;
    display: block;
    padding: 8px 20px;

    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .1);
    color: #fff;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
}

/* selected menu element */
#menu .current a, #menu li:hover > a {
    color: #000;
    border-top: 1px solid #999;
    background-color: #fff;

    box-shadow: 0 1px 1px rgba(0, 0, 0, .7); /*some css3*/
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

/* sublevels */
#menu ul li:hover a, #menu li:hover li a {
    background: none;
    border: none;
    color: #000;
}

#menu ul li a:hover {
    background: #000 repeat-x 0 -100px;
    color: #fff;

    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

#menu ul li:first-child > a {
    -moz-border-radius-topleft: 1px; /*some css3*/
    -moz-border-radius-topright: 1px;
    -webkit-border-top-left-radius: 1px;
    -webkit-border-top-right-radius: 1px;
}

#menu ul li:last-child > a {
    -moz-border-radius-bottomleft: 1px; /*some css3*/
    -moz-border-radius-bottomright: 1px;
    -webkit-border-bottom-left-radius: 1px;
    -webkit-border-bottom-right-radius: 1px;
}

/* drop down */
#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
}

#menu ul {
    opacity: 0;
    visibility: hidden;
    padding: 0;
    width: 175px;
    position: absolute;
    background: #aabbcc url(../images/bg.png) repeat-x 0 0;
    border: 1px solid #7788aa;

    border-radius: 1px; /*some css3*/
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);

    -moz-transition: opacity .25s linear, visibility .1s linear .1s;
    -webkit-transition: opacity .25s linear, visibility .1s linear .1s;
    -o-transition: opacity .25s linear, visibility .1s linear .1s;
    transition: opacity .25s linear, visibility .1s linear .1s;
}

#menu ul li {
    float: none;
    margin: 0;
}

#menu ul a {
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

#menu ul ul {
    left: 160px;
    top: 0px;
}