<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Change Password</title>
<link href="../../resources/css/change-password.css" rel="stylesheet" type="text/css">
</head>

<form id="change-password">
	<h1>Change Password</h1>
    <fieldset id="inputs">
        <input class="password" type="password" placeholder="Old Password" name="old-pwd" required>
        <input class="password" type="password" placeholder="New Password" name="new-pwd" required>
        <input class="password" type="password" placeholder="Re Enter Password" name="rnew-pwd" required>
    </fieldset>
    <fieldset id="actions">
    	<input type="submit" id="submit" value="Change Password">
    </fieldset>
</form>

<body>
</body>
</html>
