<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../../resources/css/login.css" rel="stylesheet" type="text/css">
</head>

<body>

<form id="login">
    <h1>Log In FEOP</h1>
    <fieldset id="inputs">
        <input id="username" type="text" placeholder="Username" autofocus required>
        <input id="password" type="password" placeholder="Password" required>
    </fieldset>
    <fieldset id="actions">
        <input type="submit" id="submit" value="Log in">
        <a href="reset-password.html">Forgot your password?</a><a href="regist.html">Register</a>
    </fieldset>
</form>
</body>
</html>
