<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Regist</title>
    <link href="../../resources/css/regist.css" rel="stylesheet" type="text/css">
</head>
<body>

<form id="registration" action="" method="post">
    <h1>Create an Account</h1>
    <fieldset id="inputs">
        <input id="name" name="name" type="text" class="text" value="" placeholder="Name"/>
        <input id="tel" name="tel" type="tel" class="text" value="" placeholder="Phone Number"/>
        <input id="email" name="email" type="email" class="text" value="" placeholder="Email"/>
        <input class="password" name="password" class="text" type="password" placeholder="Password"/>
        <input class="password" name="re-password" class="text" type="password" placeholder="Password Again"/>
        <input id="acceptTerms" name="acceptTerms" type="checkbox"/>
        <label for="acceptTerms">
            I agree to the <a href="">Terms and Conditions</a> and <a href="">Privacy Policy</a>
        </label>
    </fieldset>
    <fieldset id="actions">
        <button id="register" type="submit">Register</button>
    </fieldset>

</form>
</body>
</html>
