<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
    <mvc:resources location="/resources/" mapping="/resources/**"/>

    <mvc:interceptors>
        <bean class="org.personal.mason.feop.oauth.common.client.OAuthAuthenticationInterceptor"
              p:foepAuthenticationProcessor-ref="foepAuthenticationProcessor"
              p:foepLoginProcessor-ref="loginProcessor"/>
    </mvc:interceptors>

    <bean id="clientConfiguration" class="org.personal.mason.feop.oauth.common.client.DBClientConfiguration"/>

    <bean id="loginProcessor"
          class="org.personal.mason.feop.oauth.common.client.oauth.code.AuthorizationCodeLoginProcessor">
        <constructor-arg name="configuration" ref="clientConfiguration"/>
        <property name="tokenUtils" ref="tokenUtils"/>
    </bean>

    <bean id="foepAuthenticationProcessor"
          class="org.personal.mason.feop.oauth.common.client.DefaultAuthenticationProcessor">
        <constructor-arg name="interceptors">
            <list>
                <bean class="org.personal.mason.feop.oauth.common.client.AuthorityInterceptor" p:pattern="/.*.ico"
                      p:security="false"/>
                <bean class="org.personal.mason.feop.oauth.common.client.AuthorityInterceptor" p:pattern="/contact/.*"
                      p:access="ROLE_USER, ROLE_ADMIN, ROLE_DEV"/>
            </list>
        </constructor-arg>
        <constructor-arg name="tokenUtils" ref="tokenUtils"/>
    </bean>

    <bean id="tokenUtils" class="org.personal.mason.feop.oauth.common.client.DefaultTokenUtils"/>
</beans>